[submodule "01-hola-mundo"]
	path = 01-hola-mundo
	url = https://github.com/pandc19/node-01-hola-mundo.git
[submodule "02-fundamentos"]
	path = 02-fundamentos
	url = https://github.com/pandc19/node-02-fundamentos.git
[submodule "03-tabla-consola"]
	path = 03-tabla-consola
	url = https://github.com/pandc19/03-tabla-consola.git
[submodule "04-tareas-hacer"]
	path = 04-tareas-hacer
	url = https://github.com/pandc19/node-04-tareas-hacer.git
[submodule "05-clima-app"]
	path = 05-clima-app
	url = https://github.com/pandc19/node-05-clima-app.git
[submodule "06-webserver"]
	path = 06-webserver
	url = https://github.com/pandc19/node-06-webserver.git
[submodule "07-restserver"]
	path = 07-restserver
	url = https://github.com/pandc19/node-07-restserver.git
[submodule "08-websocket-server"]
	path = 08-websocket-server
	url = https://github.com/pandc19/node-08-websocket-server.git
[submodule "09-socket-colas"]
	path = 09-socket-colas
	url = https://github.com/pandc19/node-09-socket-colas.git
[submodule "10-socket-chat"]
	path = 10-socket-chat
	url = https://github.com/pandc19/node-10-socket-chat.git
[submodule "11-ts-restserver"]
	path = 11-ts-restserver
	url = https://github.com/pandc19/node-11-ts-restserver.git
